<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
   
    <add name="SFSServiceDeskContext" connectionString="metadata=res://*/SFSServiceDeskModel.csdl|res://*/SFSServiceDeskModel.ssdl|res://*/SFSServiceDeskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ServiceDesk;user id=sa;password=pass.word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

</configuration>
