<script>
    $(document).ready(function () {
        $("body").css("background-image", "url('{APP_PATH}SFSServiceDesk/Content/img/u1.jpg')");
        $("body").css("background-size", "cover");
        $("body").css("background-repeat", "no-repeat");
        $("body").css("background-position", "center center");

    });
    $("#form_LoginModel #HasErrorPassword").after("<div class='row'><div class='col-sm-12 text-center'><img src='{APP_PATH}SFSServiceDesk/Content/img/logo-h-w265.png' /></div></div>");
</script>
