<script>
    $(document).ready(function () {
        $("body").css("background-size", "cover");
        $("body").css("background-repeat", "no-repeat");
        $("body").css("background-position", "center center");

    });
    $("#form_LoginModel #HasErrorPassword").after("<div class='row'><div class='col-sm-12 text-center'></div></div>");
</script>
