<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="SFSServiceDeskContext" connectionString="metadata=res://SFS.ServiceDesk.BusinessObjects.EF/SFSServiceDeskModel.csdl|res://SFS.ServiceDesk.BusinessObjects.EF/SFSServiceDeskModel.ssdl|res://SFS.ServiceDesk.BusinessObjects.EF/SFSServiceDeskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=testmb.database.windows.net;initial catalog=sfs-apps;user id=Testmb;password=pass.word1;MultipleActiveResultSets=True;App=sfsappweb&quot;"
       providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
