<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="urlApp" value="http://" />-->
    <!--<add key="username" value="superpapelera-mobile@mobiik.com" />
    <add key="password" value="CE473D" />-->
    <add key="companyId" value="D3AC9455-02D1-4311-9ADA-85024D8EBA06"/>
    <add key="urlApp" value="http://localhost/ShellServiceDesk"/>
    <add key="username" value="user"/>
    <add key="password" value="password"/>
    <!--<add key="companyId" value="54080933-902d-464e-b1d9-f7ea97212e9d" />-->
    <add key="specificOrderedEntities" value="supRegion,sup"/>
    <add key="TestCreateOrUpdateOrDelete" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
